# ============================================
# COPIAZA ACEST FISIER SI REDENUMESTE-L .env.local
# NU PUNE NICIODATA .env.local PE GITHUB!
# ============================================

# MongoDB Atlas Connection String
# Gasesti asta in MongoDB Atlas -> Connect -> Drivers
MONGODB_URI=mongodb+srv://USERNAME:PAROLA@cluster0.xxxxx.mongodb.net/aerontermosistem?retryWrites=true&w=majority
mongodb+srv://buzaucosmin7_db_user:kUHpr8RPxiyL3x1x@cluster0.c0domqm.mongodb.net/?appName=Cluster0
# (Optional) Email pentru notificari - daca vrei sa primesti email cand vine un mesaj
# NEXT_PUBLIC_EMAIL=emailul@tau.com
